# FVM related files
example/.fvm/**

# iOS/XCode specific files
**/*.xcworkspace/**
**/*.xcuserstate
**/xcuserdata/**
**/**/UserInterfaceState.xcuserstate

# Any other specific files from your list
**/magix_museum.jks


.dart_tool
.idea
*.lock
android/.gradle
android/build
*.DS_Store

# FVM Version Cache
.fvm/
.fvm
build
.fvm
AnwalPaySDKNativeiOSExample/Pods
AnwalPaySDKNativeiOSExample/amwalsdk/Flutter
